<footer>
  <section id="foot">
    <div class="links">
      <a href="/discourse/"><img src="/discourse/assets/images/icon-tiny.png" width="24" height="24"></a>
      <a href="//www.discourse.org/about/">About</a>
      | <a href="//www.discourse.org/faq/">FAQ</a>
      | <a href="//blog.discourse.org">Blog</a>
      | <a href="//try.discourse.org">Try It</a>
      | <a href="//www.discourse.org/buy/">Buy It</a>
      | <a href="//meta.discourse.org">Meta</a>
    </div>
    <p>Content is <a href="//creativecommons.org/licenses/by-nc-sa/3.0/">by-nc-sa</a>, Discourse logo and “Discourse Forum” ®, Civilized Discourse Construction Kit, Inc.</p>
    <p><a href="//www.youtube.com/watch?v=Xe1TZaElTAs">Built with love, Internet style</a></p>
  </section>
</footer>