@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
*{padding:0px;margin:0px;font-family:Georgia,Times,"Times New Roman",serif;}
h1,h2,h3{-webkit-text-stroke:0.2px;font-family:'Montserrat',sans-serif;}
h1,h2,h3,p,span{color:#262a2c;font-weight:normal;}
img{border:none;}
p{margin:10px 0px;}
body{background-color:#eaf9ff;}
nav{width:100%;height:48px;background:#1b1f20;position:fixed;z-index:4;}
nav div{width:765px;margin:0px auto;}
nav a.nav-link{color:#FFF;text-decoration:none;text-align:center;-webkit-text-stroke:0.2px;font-family:'Montserrat',sans-serif;}
nav a.nav-link{line-height:48px;min-width:90px;text-align:center;font-size:16px;float:left;}
nav a.red.selected{color:#d13332;border-color:#d13332!important;}
nav a.red:hover{color:#d13332;text-shadow:0px 0px 5px #d13332;}
nav a.orange.selected{color:#ea5932;border-color:#ea5932!important;}
nav a.orange:hover{color:#ea5932;text-shadow:0px 0px 5px #ea5932;}
nav a.yellow.selected{color:#fff9ae;border-color:#fff9ae!important;}
nav a.yellow:hover{color:#fff9ae;text-shadow:0px 0px 5px #fff9ae;}
nav a.green.selected{color:#18b159;border-color:#18b159!important;}
nav a.green:hover{color:#18b159;text-shadow:0px 0px 5px #18b159;}
nav a.blue.selected{color:#00aeef;border-color:#00aeef!important;}
nav a.blue:hover{color:#00aeef;text-shadow:0px 0px 5px #00aeef;}
nav a.grey.selected{color:#aaa;border-color:#aaa!important;}
nav a.grey:hover{color:#aaa;text-shadow:0px 0px 5px #aaa;}
nav a.nav-link.selected{line-height:42px;border-top:3px solid #0b0d0d;background-color:#0b0d0d;height:45px;}
nav a.fork-us{float:right;border-radius:4px;background-color:#2b3234;width:104px;height:32px;line-height:32px;margin-top:8px;font-weight:bold;font-size:14px;text-decoration:none;color:#FFF;text-align:center;font-family:'Montserrat',sans-serif;}
nav a.fork-us:hover{background-color:#434748;}
nav a.fork-us:active{background-color:#000;}
header{position:relative;top:48px;border-bottom:1px solid #b9b9b9;background-size:contain;margin-bottom:190px;}
header img{height:48px;padding:0 18px;}
header #tabs{width:254px;height:32px;margin:27px auto;text-align:center;background-image:url('../images/tabs.png');border-radius:5px;background-size:100%;}
header #tabs span{width:84px;display:block;float:left;line-height:33px;font-size:17px;color:#FFF;-webkit-text-stroke:0.2px;font-family:'Montserrat',sans-serif;}
header #tabs span.middle{border-right:1px solid rgba(0,0,0,0);border-left:1px solid rgba(0,0,0,0);}
#try{width:730px;height:32px;border-top-right-radius:4px;border-top-left-radius:4px;border:1px solid #CCC;border-bottom-color:#eaf9ff;margin:0px auto;position:relative;background-color:#eaf9ff;text-align:center;top:15px;}
#try h1{font-size:32px;font-weight:bold;color:#000;line-height:70px;text-align:center;}
.btn-big{text-align:center;text-decoration:none;width:280px;height:64px;display:block;font-size:30px;margin:20px auto;line-height:64px;border-radius:8px;border:2px solid #16617d;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.2);font-weight:bold;background-color:#00aeef;background-image:-webkit-gradient(linear,left top,left bottom,from(#00aeef),to(#009dd8));background-image:-webkit-linear-gradient(top,#00aeef,#009dd8);background-image:-moz-linear-gradient(top,#00aeef,#009dd8);background-image:-o-linear-gradient(top,#00aeef,#009dd8);background-image:linear-gradient(to bottom,#00aeef,#009dd8);-webkit-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-khtml-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-o-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-webkit-text-stroke:0.2px;font-family:'Montserrat',sans-serif;}
.btn-big-dimmed{text-align:center;text-decoration:none;width:280px;height:64px;display:block;font-size:30px;margin:20px auto;line-height:64px;border-radius:8px;border:3px dotted #4D4D4D;cursor:not-allowed;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.2);font-weight:bold;background-color:#818181;background-image:-webkit-gradient(linear,left top,left bottom,from(#818181),to(#747474));background-image:-webkit-linear-gradient(top,#818181,#747474);background-image:-moz-linear-gradient(top,#818181,#747474);background-image:-o-linear-gradient(top,#818181,#747474);background-image:linear-gradient(to bottom,#818181,#747474);-webkit-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-khtml-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-o-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 2px 0 rgba(255,255,255,0.33),inset 0 -1px 2px rgba(0,0,0,0.2);-webkit-text-stroke:0.2px;font-family:'Montserrat',sans-serif;}
.btn-big:hover{background-color:#00aeef;background-image:-webkit-gradient(linear,left top,left bottom,from(#00aeef),to(#00b0f0));background-image:-webkit-linear-gradient(top,#00aeef,#00b0f0);background-image:-moz-linear-gradient(top,#00aeef,#00b0f0);background-image:-o-linear-gradient(top,#00aeef,#00b0f0);background-image:linear-gradient(to bottom,#00aeef,#00b0f0);-webkit-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33);-moz-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33);-khtml-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33);-o-box-shadow:inset 0 2px 0 rgba(255,255,255,0.33);box-shadow:inset 0 2px 0 rgba(255,255,255,0.33);}.btn-big:active{background-color:#009dd8;background-image:-webkit-gradient(linear,left top,left bottom,from(#009dd8),to(#00aeef));background-image:-webkit-linear-gradient(top,#009dd8,#00aeef);background-image:-moz-linear-gradient(top,#009dd8,#00aeef);background-image:-o-linear-gradient(top,#009dd8,#00aeef);background-image:linear-gradient(to bottom,#009dd8,#00aeef);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);-khtml-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);-o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);}article{width:730px;margin:0px auto 32px auto;padding-top:30px;}article strong,article em,article p,article li{line-height:22px;font-size:16px;}article li{margin-left:40px;}article section a{color:#77abbf;text-decoration:none;}article h1,article h1 a{font-size:32px;margin-top:64px;margin-bottom:5px;color:black!important;text-decoration:none;-webkit-text-stroke:0.2px;font-family:'Montserrat',sans-serif;}article h3{font-size:16px;color:#a6aeb3;}article section{overflow:hidden;width:100%;}.pf{margin:20px auto;}.pf h4{margin:0;padding:10px;background:black;color:white;}.box{border-radius:2px;background-color:#FFF;border:1px solid #B9B9B9;box-shadow:0 1px 5px rgba(0,0,0,0.2);}@-moz-document url-prefix()
{
  #timeline i
  {
    position: absolute;
    margin-left: -242px;
    margin-top: 88px;
    font-size: 16px;
    color: #cecece;
  }
}

#timeline span
{
  text-align: center;
  border: 1px solid #eee;
  width: 100%;
  float: left;
}

#timeline .middle
{
  margin-right: 32px;
  margin-left: 32px;
}

#solution .box
{
  width: 320px;
  height: 200px;
  float: left;
  margin-right: 28px;
  margin-bottom: 20px;
}

#solution .right
{
  float: right;
  margin-left: 28px;
  margin-right: 0;
}

#solution .box .middle
{
  float: right;
}

#solution .row
{
  margin-top: 25px;
  overflow: auto;
}

#solution h2
{
  font-size: 20px;
  margin-bottom: 8px;
}

#solution p
{
  font-size: 16px;
  line-height: 22px;
  width: 380px;
  display: inline-block;
}

#community a
{
  border-radius: 4px;
  background-color: #2a2a2d;
  width: 175px;
  height: 128px;
  float: left;
  margin: 32px 5px;
}

#community a:first-child
{
  margin-left: 0;
}

#community a:last-child
{
  margin-right: 0;
}

#community a.blue
{
}

#community a.blue:hover
{
  background-color: #00aeef;
}

#community a.orange
{
}

#community a.orange:hover
{
  background-color: #f15c22;
}

#community a.red
{
}

#community a.red:hover
{
  background-color: #e51b24;
}

#community a.green
{
}

#community a.green:hover
{
  background-color: #00a950;
}


footer
{
  color: #bababa;
}

footer #social
{
  background-color: #FFF;
  height: 56px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #b5b5b5;
  box-shadow: 0px 1px 1px #DDD;
}

footer .links
{
  line-height: 24px;
  height:30px;
}

footer #foot img
{
  padding-right: 4px;
  vertical-align: bottom;
}

footer #foot
{
  text-align: center;
  margin: 80px auto 0px auto;
  width: 720px;
}

footer p
{
  -webkit-text-stroke: 0.2px;
  font-family: 'Montserrat', sans-serif;
  font-size:smaller;
  color: #bababa;
}

footer a
{
  text-decoration: none;
  color: #006e97;
  text-shadow: 0px 0px 1px #FFF;
  -webkit-text-stroke: 0.2px;
  font-family: 'Montserrat', sans-serif;
}

footer p a
{
  color: #bababa;
}

code, tt {
margin: 0 2px;
padding: 0px 5px;
border: 1px solid #eaeaea;
background-color: #f8f8f8;
border-radius: 3px;
}
pre, code, tt {
font-size: 12px;
font-family: Consolas, "Liberation Mono", Courier, monospace;
}

pre {
background-color: #f8f8f8;
border: 1px solid #ccc;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
border-radius: 3px;
}
pre > code {
  border: 0;
}